

.holder {
    display: flex;
    justify-content: center;
}
.imagem {
    max-width: 1080px;   /* Máximo da largura da imagem */
    width: 100%;
    max-height: 500px;  /* Máximo da altura da imagem */
    min-height: auto;      /* Mínimo da altura, por padrão “auto” */
    background-size:100%;
    background-repeat: no-repeat;
}
.imagem::after {
  content: attr(data-title);
  width: 100%;
  bottom: -20px;
  left: 0;
}

.tabela {
    position: right;
}